table, th, td {
    border: 1px solid black;
  }
table{
    font-size: 30px;
    margin: 0 auto;
}
table th, table td{
    padding: 8px;
    text-align: center;
}
.add_product{
    width: 866px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
.add_product #plus_icon{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}
.delete_btn{
    cursor: pointer;
}
.delete_btn:hover{
    color: red;
}
#plus_icon:hover{
    background-color: rgb(87, 243, 191);
    color: #f73838;
}
.pen_btn{
    cursor: pointer;
}
.pen_btn:hover{
    color: red;
}
.form{
    width: 280px;
    background-color: aqua;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form .option{
    padding-bottom: 20px;
}