body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
/* CSS thanh socical */
#social_menu{
    width: 100%;
    height: 43px;
    background-color: #5a4a3b;
    display: flex;
    justify-content: space-between;
}
.menu_icon{
    display: flex;
    align-items: center;
}
.menu_icon i{
    color: #ccc;
    width: 27px;
    text-align: center;
}
.menu_icon i:nth-child(2){
    background-color: #88c442 !important;
    height: 46px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.menu_contact{
    display: flex;
    font-size: 12px;
    line-height: 24px;
    color: #a3d865;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    margin-left: 24px;
}
.menu_contact .contact_2{
    color: #fff;
    margin-left: 5px;
}
.menu_user{
    display: flex;
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
.menu_user img{
    width: 20px;
    height: 10px;
}
.menu_user .menu_img{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.menu_user i{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_user p{
    margin-right: 10px;
}
.menu_user p:nth-child(4){
    margin-left: 20px;
}
.menu_account{
    display: flex;
    width: 136px;
    height: 46px;
    background-color: #88c442;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
.menu_account p{
    margin-left: 10px;
}
/* CSS nognic */
#nognic_header{
    width: 1236px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#nognic_header .left_header{
    margin-top: 60px;
}
.left_header .heart_icon{
    background-color: #88c442;
    border: 0.1875em solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
    margin-left: 36px;
    position: relative;
}
.number{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #5a4a3b;
    position: absolute;
    top: 0;
    right: 0;
}
#nognic_header .main_header{
    margin-top: 40px;
}
#nognic_header .logo_image{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo_image .logo_name{
    color: #88c442;
    font-size: 40px;
    position: absolute;
    top: 0;

}
#nognic_header .nav_header ul{ 
    display: flex;
    list-style: none;
}
.nav_header ul li a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}
.nav_header ul li{
    margin-right: 40px;
}
.nav_header ul li:first-child a{
    color: #88c442 !important;
}
#nognic_header .right_header{
    margin-top: 60px;
    display: flex;
}
.right_header .search_icon,
.right_header .bag_icon{
    background-color: #88c442;
    border: 0.1875em solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
}
.right_header .bag_icon{
    margin-right: 36px;
    position: relative;
}
/* CSS Main */
#main_screen{
    background-color: #000;
    width: 100%;
    height: 670px;
    display: flex;
    justify-content: space-between;
}
.right_arrow .arrowr_icon,
.left_arrow .arrowl_icon{
    background-color: #88c442;
    border: 0.1875em solid #fff;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
    border: 3px solid #fff;
    cursor: pointer;
}
.right_arrow .arrowr_icon{
    background-color: #7d7d7d;

}
.left_arrow, .right_arrow{
    margin: 310px 40px 0 40px;
}
.screen_content .content_1{
    font-size: 40px;
    width: 600pxs;
    text-align: center;
    margin-top: 220px;
}
.screen_content .content_1,
.screen_content .content_2{
    color: #88c442;
}
.screen_content .content_2 p:first-child{
    color: #fff !important;
    margin-right: 20px;
}
.screen_content .content_2 p{
    margin: 0;
}
.screen_content .content_2{
    display: flex;
    font-size: 140px;
}
.screen_content .content_3{
    color: #ccc;
    text-align: center;
    font-size: 28px;
}
/* CSS main 2 */
#main_screen_2{
    display: flex;
    justify-content: space-between;
    width: 1236px;
    margin: 0 auto;
}
#main_screen_2 .green_block{
    background-color: #88c442;
    width: 400px;
    height: 285px;
    margin-top: -90px;
}
.fruit_img{
    margin-bottom: 105px;
}
.fresh_fruit{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fresh_fruit p{
    font-size: 30px;
    margin-bottom: 12px;
}
.fresh_fruit p:first-child{
    color: #88c442;
    margin-right: 12px;
}
.view{
    text-align: center;
}
.view a{
    color: #000;
    font-size: 12px;
}
/* CSS main 3 */
#main_screen_3{
    margin: 0 auto;
    width: 1236px;
}
#main_screen_3 .new_arrival{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.new_arrival .new_arrival_content{
    display: flex;
    color: #000000;
    font-size: 60px;
    position: absolute;
    top: 4px;
}
.new_arrival_content p:first-child{
    color: #88c442 !important;
    margin-right: 16px;
}
.list_new_products{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.sqr_arrowl,
.sqr_arrowr{
    background-color: #88c442;
    border-radius: 10px;
    font-size: 20px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.new_products{
    display: flex;
    justify-content: space-around;
    width: 1236px;
    margin-bottom: 120px;
}
.new_product{
    border: 1px solid #bdadad;
    height: 650px;
}
.new_products .green_block{
    background-color: #88c442;
    width: 280px;
    height: 285px;
    margin-top: 100px;
    position: relative;
}
.green_block .new_cir,
.green_block .sale_cir{
    border-radius: 50px;
    color: #fff;
    background-color: rgb(207, 74, 118);
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -24px;
    right: 24px;
}
.green_block .new_cir{
    background-color: orangered;
}
.new_product .product_name{
    display: flex;
    justify-content: center;
    align-items: center;
}
.new_product .product_name p{
    max-width: 250px;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}
.product_price{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.product_price p:first-child{
    font-size: 32px;
    margin-right: 8px;
}
.product_price p:nth-child(2){
    color: red;
}
.buy_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.buy_btn .buy_button{
    border-radius: 50px;
    border: 2px solid #a3d865;
    color: #88c442;
    width: 140px;
    height: 40px;
    background-color: #fff;

}
.buy_btn i{
    color: #aae467;
    font-size: 24px;
    position: absolute;
    left: 62px;
    background-color: #fff;
}
/* CSS main 4 */
#main_screen_4{
    margin: 0 auto;
}
#main_screen_4 .deal_day{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 60px;
    border-bottom: 1px solid #000;
    width: 1100px;
}
.deal_day .deal_content{
    display: flex;
    color: #000000;
    font-size: 60px;
    position: absolute;
    top: 4px;

}
.deal_content p:first-child{
    color: #88c442 !important;
    margin-right: 16px;
}
.product_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
    margin: 0 auto;
    width: 1100px;
}
.product_menu ul{
    display: flex;
    list-style: none;
    margin: 0;
}
.product_menu ul li{
    margin: 16px 10px 0px 10px;
    text-align: center;
}
#main_screen_4 .mc4_content{
    display: flex;
    justify-content: space-between;
    width: 1236px;
    margin: 30px auto;
}
#main_screen_4 .mc4_twin_content{
    border-bottom: 1px solid #000;
    width: 400px;
    margin-bottom: 40px;
}
#main_screen_4 .mc4_twin_content{
    display: flex;
    padding-bottom: 40px;
}
#main_screen_4 .green_block{
    background-color: #88c442;
    width: 160px;
    height: 130px;
}
.jessica_fruit{
    margin-left: 20px;
}
.jessica_fruit h4{
    margin-top: 0;
    margin-bottom: 23px;
}
.product_price2{
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
}
.product_price2 p:first-child{
    font-size: 20px;
    margin-right: 8px;
    margin-top: 0;
}
.product_price2 p:nth-child(2){
    color: red;
}
.buy_btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.buy_btn2 .buy_button{
    border-radius: 50px;
    border: 2px solid #a3d865;
    color: #88c442;
    width: 140px;
    height: 40px;
    background-color: #fff;
}
.buy_btn2 i{
    color: #aae467;
    font-size: 24px;
    position: absolute;
    left: 14px;
    background-color: #fff;
}
#main_screen_4 .mc4_center{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 320px;
}
.mc4_center .green_block{
    width: 210px !important;
    height: 140px !important;
}
.mc4_center{
    text-align: center;
}
.mc4_center .kensie_fruit h4{
    font-size: 21px;
    margin-bottom: 12px;
}
.mc4_center .product_price2{
    display: flex;
    justify-content: center;
    height: 40px;
}
.mc4_center .product_price2 p:first-child{
    font-size: 28px;
}
.mc4_center .buy_btn2 i{
    left: 80px;
}
.star_point i:first-child,
.star_point i:nth-child(2),
.star_point i:nth-child(3){
    color: #88c442;
}
/* CSS main 5 */
#main_screen_5{
    width: 1236px;
    margin: 0px auto 50px;
    display: flex;
    justify-content: space-between;
}
#main_screen_5 .mc5_left,
#main_screen_5 .mc5_right{
    background-color: #7d7d7d;
}
#main_screen_5 .mc5_left{
    width: 865px;
    height: 416px;
}
.mc5_left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mc5_left .mc5_left_content{
    display: flex;
}
.mc5_left_content h2{
    font-size: 84px;
    color: #d2ef89;
    margin-bottom: 20px;
}
.mc5_left_content h2:first-child{
    color: #70c15c;
    margin-right: 40px;
}
.mc5_left .shop_button{
    color: #bcda71;
    border: 6px solid #bcda71;
    background-color: #7d7d7d;
    width: 248px;
    height: 48px;
}
#main_screen_5 .mc5_right{
    width: 350px;
}
.mc5_right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.mc5_right_content{
    color: #fff;
}
.mc5_right_content h3{
    margin: 0;
    font-size: 36px;
}
.mc5_right_content p{
    margin: 0;
    font-size: 22px;
}
.mc5_right .shop_button{
    margin: 28px auto;
    width: 146px;
    height: 32px;
    color: #000;
    background-color: #bcda71;
}
/* CSS main 6 */
#main_screen_6{
    margin: 0 auto;
    width: 100%;
}
#main_screen_6 .organic_news{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.organic_news .organic_news_content{
    display: flex;
    color: #000000;
    font-size: 60px;
    position: absolute;
    top: 4px;
}
.organic_news_content p:first-child{
    color: #88c442 !important;
    margin-right: 16px;
}
#main_screen_6 .mc6_content{
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
    margin-bottom: 160px;
}
.mc6_content .mc6_content_main{
    margin: 0 4px;
    height: 284px;
    width: 25%;
    background-color: #7d7d7d;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 40px;
}
.mc6_content .mc6_content_main:nth-child(2){
    background-color: #70c15c;
}
.mc6_content_main p:first-child{
    color: #ccdf9b;
    margin: 0;
    font-size: small;
}
.mc6_content_main p{
    color: #fff;
    font-size: 16px;
    width: 260px;
}
/* CSS main 7 */
#main_screen_7{
    margin: 0 auto;
    width: 100%;
}
#main_screen_7 .delivery_process{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.delivery_process .delivery_process_content{
    display: flex;
    color: #000000;
    font-size: 60px;
    position: absolute;
    top: 4px;
}
.delivery_process_content p:first-child{
    color: #88c442 !important;
    margin-right: 16px;
}
#main_screen_7 .step_icons{
    display: flex;
    margin: 40px auto;
    width: 970px;
    justify-content: space-between;
    align-items: center;
}
.step_icons .step_icon{
    border-radius: 50px;
    background-color: #aae467;
    width: 108px;
    height: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: #fff;
}
.step_icons .step:nth-child(2) .step_icon{
    background-color: rgba(255, 187, 0, 0.787) !important;
}
.step_icons .step:nth-child(3) .step_icon{
    
    background-color: rgba(60, 255, 0, 0.803) !important;
}
.step_icons .step:nth-child(4) .step_icon{
    background-color: rgba(0, 187, 255, 0.787) !important;
}
.step{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.step_content h5{
    font-size: 20px;
    width: 200px;
    text-align: center;
    margin: 20px 0 0 0; 
}
.step_content p{
    color: #70c15c;
    font-size: 12px;
    text-align: center;
}
/* CSS main 8 */
.sign_form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sign_form .sign_input{
    display: flex;
    color: #88c442;
    font-size: 48px;
}
.sign_input p{
    margin-bottom: 0;
}
.sign_input p:first-child{
    color: #000000 !important;
    margin-right: 16px;
}
.sign_note{
    font-size: 20px;
}
.sign_note span{
    color: #88c442 !important;
}
/* CSS footer */
.footer{
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 52px auto;
}
.footer_content{
    display: flex;
    width: 354px;
    justify-content: center;
    align-items: center;
}
.footer_logo i{
    font-size: 32px;
}
.footer_infor{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer_infor h6{
    font-size: 20px;
    margin: 20px 0 0 0;
}